#### Comment out or delete any unused entries

#### EXAMPLE
# DO NOT USE QUOTES TO ENCLOSE THE VALUES
EXAMPLE_VARIABLE=true
EXAMPLE_PORT=1234
EXAMPLE_PASSWORD=kdos9lsk@1l1!
EXAMPLE_EMAIL=myemail@domain.co
EXAMPLE_IP=123.123.123.123

#### BELOW ARE SOME OF THE VARIABLES USED IN docker-compose.yml

##### PORTS

INFLUXDB_PORT=
JACKETT_PORT=
LIDARR_PORT=
#If you change radarr and sonarr port then update plex meta agent
RADARR_PORT=
SONARR_PORT=
TRANSMISSION_PORT=
PLEX_PORT=
TAUTULLI_PORT=

##### SYSTEM

PUID=
PGID=
TZ=
USERDIR=
MEDIADIR=
SERVER_IP=
PIHOLE_IP=
LOCAL_NETWORKS=
DNS_SERVER=

##### DOMAIN

DOMAINNAME=
CLOUDFLARE_EMAIL=
CLOUDFLARE_API_KEY=

##### DATABASE

INFLUXDB_DB=
INFLUXDB_READ_USER=
INFLUXDB_READ_USER_PASSWORD=
INFLUXDB_WRITE_USER=
INFLUXDB_WRITE_USER_PASSWORD=

GRAFANA_ADMIN_USERNAME=
GRAFANA_ADMIN_PASSWORD=

##### SECURITY AND PRIVACY

NORDVPN_USERNAME=
NORDVPN_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OAUTH_SECRET=

##### NOTIFICATIONS

MY_EMAIL=

##### APPS

TRANSMISSION_RPC_PASSWORD=
TRANSMISSION_RPC_USERNAME=

##### PLEX

PLEX_CLAIM=
